body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}

nav {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  background-color: #555;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 125px);
}

section {
  background-color: white;
  padding: 20px;
  width: 80%;
  box-shadow: 0 0 10px gray;
  border-radius: 10px;
  text-align: center;
}

section h2 {
  margin-top: 0;
}

footer {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

footer p {
  margin: 0;
}
